div,
canvas,
span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus,
button:focus,
Select:focus,
textarea:focus {
    outline: none;
}

body {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #1b1d21;
    color: azure;
    text-align: center;
}

label {
    cursor: pointer;
}

#timer {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 100%;
}

#commands #reset,
#commands #option {
    cursor: pointer;
    position: fixed;
    top: 5%;
    opacity: 0.1;
    width: 8vh;
    height: 8vh;
    border: 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

#commands #reset {
    left: 5%;
    background-image: url(../img/reset.svg);
    z-index: 3;
}

#commands #reset:hover {
    opacity: 0.8;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#commands #reset:active {
    -webkit-transform: scale(0.9) rotate(180deg);
    transform: scale(0.9) rotate(180deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#commands #option {
    right: 5%;
    background-image: url(../img/gear.svg);
    z-index: 5;
}

#commands #option:hover {
    opacity: 0.9;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#commands #option:active {
    -webkit-transform: scale(0.9) rotate(-180deg);
    transform: scale(0.9) rotate(-180deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#options-panel {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1d21;
    padding: 5%;
    position: absolute;
    -webkit-transform: scaleX(0) skewX(90deg);
    transform: scaleX(0) skewX(90deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 4;
    opacity: 0.9;
    text-align: left;
}

#options-panel.show {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scaleX(1) skewX(0deg);
    transform: scaleX(1) skewX(0deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    border-radius: 0%;
}

#options-panel h1 {
    color: #eee;
    font-size: 8vh;
    border-bottom: 5px solid #eee;
    font-variant: small-caps;
}

#options-panel .option {
    width: 100%;
}

#options-panel .option .name {
    width: 100%;
    border-bottom: 1px solid #666;
}

#options-panel .option .name label {
    font-size: 3vh;
    line-height: 3vh;
    height: 3vh;
    color: #eee;
    text-transform: uppercase;
}

#options-panel .option .name label span {
    font-size: 2vh;
    -webkit-text-decoration: italic;
    text-decoration: italic;
    color: #666;
}

#options-panel .option .value {
    position: relative;
    width: 100%;
    margin: 2% 0;
}

#options-panel .option button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #20a4f3;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center center;
    border-radius: 100%;
    border: 0;
    height: 5vh;
    width: 5vh;
    margin: 0;
}

#options-panel .option button.minus {
    right: 8vh;
    background-image: url(../img/minus.svg);
}

#options-panel .option .value button:active {
    background-color: #666;
}

#options-panel .option input,
#options-panel .option select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 50%;
    line-height: 5vh;
    height: 5vh;
    font-size: 4vh;
    color: #20a4f3;
    background-color: transparent;
    border: 0;
    font-weight: bold;
    padding: 0;

    /* direction: rtl; */
}

#options-panel .option *:disabled {
    cursor: not-allowed;
    color: #666;
}

/*# sourceMappingURL=style.css.map */
