<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.coachtimer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Coach Timer</name>
    <description>
        Workout repeat application.
    </description>
    <author email="dev@cordova.apache.org" href="https://github.com/reek/coach-timer">
        Ricardo Reves
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
</widget>
